header {
    background-color: #CE2829;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    padding-bottom: 2rem;
    padding-left: 0.25rem;
}
.logo {
    padding-bottom: 2.5rem;
}
.navlink {
    text-decoration: none;
    color: white;
}
.links{
    text-align: left;
    color: white;
    gap: 0.40rem;
    display: flex;
    font-size: 1rem;
}
.info {
    padding-top: 1.5rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}
.active {
    font-weight: bolder;
}
.info h2 {
    color: #292929;
    font-size: 1.4rem;
    padding-top: 1rem;
}
.info h3 {
    color: #292929;
    font-size: 1.75rem;
}
.price-info {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    align-items: center;
    padding: 1rem 0;
}
.rating {
    text-align: end;
    display: flex;
    gap: 3rem;
    color: #5F5F5F;
}
.pizza-info {
    color: #5F5F5F;
    font-size: 1rem;
    line-height: 1.5rem;
}