.pizza-order {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 5rem;
}
.pizza-size {
  flex-direction: column;
  display: flex;
}
.pizza-size input {
  margin-right: 0.6rem;
  margin-bottom: 1rem;
}
.pizza-size label {
  color: #5f5f5f;
}
.size-dough {
  display: flex;
  gap: 7.7rem;
}

#dough {
  background-color: #FAF7F2;
  border-radius: 6px;
  border: none;
  width:258px;
  height:56px;
  padding: 1rem;
  color:#5F5F5F;
  font-size: 14px;
  font-family: "Barlow", sans-serif;
  font-weight: 500;
}

.pizza-order h3 {
  color: #292929;
  font-size: 1.25rem;
  padding-bottom: 1.25rem;
  padding-top: 2.5rem;
}

.pizza-toppings p {
  color: #5f5f5f;
  padding-bottom: 2rem;
}
.toppings {
  display: flex;
  flex-wrap: wrap;
}
.toppings input {
  margin-right: 0.6rem;
}
.toppings label {
  font-weight: 700;
  color: #5f5f5f;
  width: 33%;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}
.checkout {
  display: flex;
  flex-direction: column;
}

.name-input input {
  border-radius: 0.375rem;
  background-color: #FAF7F2;
  width: 33%;
  height: 2rem;
  padding-left: 1rem;
  border: none;
}
.note-input {
  margin-bottom: 2.5rem;
}
.note-input textarea {
  resize: none;
  background-color: #FAF7F2;
  border: none;
  width: 100%;
  border-radius: 0.375rem;
  padding-left: 1rem;
}
hr {
  width: 99%;
  color: #5f5f5f;
  opacity: 50%;
}
.order {
  padding-top: 2.5rem;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: start;
}
.count-group {
  display: flex;
  align-items: center;
}
.count {
  border: 1px solid #d9d9d9;
  height: 2.5rem;
  width: 2.5rem;
  text-align: center;
  align-content: center;
  font-weight: 700;
}
.btn {
  background-color: #fdc913;
  border: none;
  font-weight: 700;
  cursor: pointer;
}
.btn-left {
  height: 2.5rem;
  width: 2.5rem;
  border-bottom-left-radius: 0.375rem;
  border-top-left-radius: 0.375rem;
}
.btn-right {
  height: 2.5rem;
  width: 2.5rem;
  border-bottom-right-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
}
.order-detail {
  border: 1px solid #d9d9d9;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0.375rem;
  background-color: #FAF7F2;
}
.selected {
  color: #5f5f5f;
  font-size: 1.125rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}
.total {
  color: #ce2829;
  font-size: 1.125rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
}
.order-text {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}
.order-text h3 {
  padding: 0;
}
.order-submit {
  height: 3.875rem;
  border-radius: 0.375rem;
  color: #292929;
  font-size: 1.125rem;
  font-weight: 600;
  width: 100%;
}
.red {
  color: #d80027;
}
.error {
  color: #d80027 !important;
  font-size: 0.875rem;
  padding-top: 0.5rem;
}

.disabled-btn {
  background-color: #d9d9d9;
  color: #5f5f5f;
  cursor: not-allowed;
  height: 3.875rem;
  border-radius: 0.375rem;
  font-size: 1.125rem;
  font-weight: 600;
  width: 100%;
}
.form-submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.checkbox {
  width: 45px;
  height: 45px;
  appearance: none;
  background-color: #FAF7F2;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  outline: none;
  transition: background-color 0.3s ease;
}
.checkbox:checked::after {
  content: "✔";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #000000;
}
.checkbox:checked {
  background-color: #fdc913;
}

.radio-buttons {
  display: flex;
  gap: 1rem;
}

.radio-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.radio-input {
  display: none;
}

.radio-text {
  display: inline-block;
  width: 56px;
  height: 56px;
  line-height: 56px;
  text-align: center;
  background-color: #faf7f2;
  border-radius: 50%;
  font-size: 1rem;
  font-weight: bold;
  color: #5F5F5F;
  transition: all 0.3s ease;
}

.radio-input:checked + .radio-text {
  background-color: #FFEECC;
  color: #5F5F5F;
}

@media (max-width: 768px) {
  .toppings label {
    width: 50%;
  }
  .name-input input {
    width: 100%;
  }
  .order {
    flex-direction: column;
    width: 100%;
  }
  .order-buttons {
    padding-top: 2.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .order-submit,
  .disabled-btn {
    height: 2.5rem;
    width: 48% !important;
  }
  .count-group {
    height: 2.5rem;
    width: 48% !important;
  }
  .btn {
    width: 3rem;
  }
  .count {
    width: 3rem;
  }
  hr {
    width: 100%;
  }
  .size-dough {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
