
:root {
  font-family: "Barlow";
  font-weight: 400;
  font-size: 1rem;
}

* {
  margin: 0;
}

input::placeholder,
textarea::placeholder {
  font-family: "Barlow";
  font-size: 0.9rem;
  line-height: 1.8rem; 
}